body{
    background-color: rgb(204,197,204);
}
#git{
    
    color: black;
    font-size: 30px;
}
#txtMenu{
    margin-top: 10px;
    font-size: 20px;
}

#logo{
    width: 150px;
}
#content{
    margin-top:30px;
}
.cir{
    position: absolute;
    top: 45%;
    background-color: rgb(124,119,124);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
/*---------Projects-------------*/
.projects{
    display: none;
}
/*-----------TOols----------*/
#tools{
    display: inline;
    position: absolute;
    top: 70%;
    left: 45%; 
}
.logos{
    width: 5%;
    height: 5%;
}

#textTitle{
    position: absolute;
    left: 40%;
    margin-top: 70px;
}
/*----------------------*/
@media (min-width: 0px) {
    #logo{
        width: 100px;
    }
    .logoclass{
        text-align: center;
    }
    .headerclass{
        text-align: center;
    }
    .titles{
        display: none;
        
    }
    .imgs{
        position: absolute;
        width: 350px;
        height: 200px;
        left: 0%;
        top: 65%;
    }
    .descriptions{
        position: absolute;
        top: 100%;
        left: 8%; 
    }
    #project1{
        display: block;
    }
    #tools{
        display: inline;
        top: 125%;
        left: 20%;
    }
    .logos{
        width: 20%;
        height: 20%;
    }
    #three{  
        width: 30%;
        height: 30%;
    }
    #three1{  
        width: 35%;
        height: 35%;
    }
    #leap{
        width: 28%;
        height: 27%;
    }
    #electron{  
        width: 28%;
        height: 27%;
    }
    #ionic1 {
        width:18%;
        height: 17%;
    }
    #firebase1 {
        width: 18%;
        height: 17%;
    }
    #c1{
        left: 23%;
        z-index: -2;
        opacity: 0.5;
        animation-name: c1Left;
        animation-duration: 0.3s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    #c2{
        
        left: 33%;
        opacity: 0.85;
        z-index: -1;
        animation-name: c2Left;
        animation-duration: 0.3s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    #c3{
        
        z-index: 1;
        left: 43%;
        animation-name: c3Left;
        animation-duration: 0.3s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    #c4{
        left: 53%;
        z-index: -1;
        opacity: 0.85;
        animation-name: c4Left;
        animation-duration: 0.3s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    #c5{  
        left: 63%;
        z-index: -2;
        opacity: 0.5;
        animation-name: c5Left;
        animation-duration: 0.3s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    
   
}
/* XS ( 400px and up) */
@media (min-width: 400px) {
    #logo{
        width: 100px;
    }
    .logoclass{
        text-align: center;
    }
    .headerclass{
        text-align: center;
    }
    .titles{
        display: none;
        
    }
    .imgs{
        position: absolute;
        width: 350px;
        height: 200px;
        left: 8%;
        top: 50%;
    }
    .descriptions{
        position: absolute;
        top: 83%;
        left: 8%; 
    }
    #project1{
        display: block;
    }
    #tools{
        display: inline;
        top: 100%;
        left: 20%;
    }
    .logos{
        width: 20%;
        height: 20%;
    }
    #three{  
        width: 30%;
        height: 30%;
    }
    #three1{  
        width: 35%;
        height: 35%;
    }
    #leap{
        width: 28%;
        height: 27%;
    }
    #electron{  
        width: 28%;
        height: 27%;
    }
    #ionic1 {
        width:18%;
        height: 17%;
    }
    #firebase1 {
        width: 18%;
        height: 17%;
    }
    #c1{
        left: 23%;
        z-index: -2;
        opacity: 0.5;
        animation-name: c1Left;
        animation-duration: 0.3s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    #c2{
        
        left: 33%;
        opacity: 0.85;
        z-index: -1;
        animation-name: c2Left;
        animation-duration: 0.3s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    #c3{
        
        z-index: 1;
        left: 43%;
        animation-name: c3Left;
        animation-duration: 0.3s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    #c4{
        left: 53%;
        z-index: -1;
        opacity: 0.85;
        animation-name: c4Left;
        animation-duration: 0.3s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    #c5{  
        left: 63%;
        z-index: -2;
        opacity: 0.5;
        animation-name: c5Left;
        animation-duration: 0.3s;
        animation-play-state: paused;
        animation-timing-function: linear;
    }
    
   
}
/* SMALL ( 576px and up) */
@media (min-width: 576px) {
    #git{
        
        font-size: 30px;
    }
    #logo{
        width: 100px;
    }
    
    .logoclass{
        text-align: center;
    }
    .headerclass{
        text-align: center;
    }
}

/* MEDIUM (tablets, 768px and up) */
@media (min-width: 768px) {
    #git{
        
        font-size: 30px;
    }
     #logo{
        width: 100px;
    }
    .logoclass{
        text-align: center;
    }
    .headerclass{
        text-align: center;
    }
    .cir{
        top: 60%;
               
    }
    #c1{
        left: 5%;    
    }
    #c2{
        left: 25%; 
    }
    #c3{
        left: 45%; 
    }
    #c4{   
        left: 65%; 
    }
    #c5{    
        left: 85%; 
    }
    /*----------Titles---------------*/
    #textTitle{
        display: none;
    }
    .titles{
        display: block;
        margin-top: 80px;
        position: absolute;
        
    }
    #titlePj1{
        left: 0%;    
    }
    #titlePj2{ 
        left: 25%;   
    }
    #titlePj3{
        left: 44%; 
    }
    #titlePj4{
        left: 63%; 
    }
    #titlePj5{
        left: 86%;
    }
    /*----------------Images-----------------*/
    .imgs{
        position: absolute;
        width: 300px;
        height: 220px;
        left: 35%;
        top: 35%;
    }
    
    /*----------Descriptions------------------*/
    .descriptions{
        position: absolute;
        top: 70%;
        left: 20%; 
    }
    /*---------Projects-------------*/
    .projects{
        display: none;
    }
    #project1{
        display: none;
    }
    /*-----------TOols----------*/
    #tools{
        display: inline;
        position: absolute;
        top: 75%;
        left: 20%; 
    }
    .logos{
        width: 5%;
        height: 5%;
    }
    #three{  
        width: 10%;
        height: 10%;
    }
    #three1{  
        width: 15%;
        height: 15%;
    }
    #leap{
        width: 8%;
        height: 7%;
    }
    #electron{  
        width: 8%;
        height: 7%;
    }
    #ionic1 {
        width: 8%;
        height: 7%;
    }
    #firebase1 {
        width: 8%;
        height: 7%;
    }
}

/* LA (desktops, 992px and up) */
@media (min-width: 992px) {
    .logoclass{
        text-align: right;
    }
    .headerclass{
        text-align: left;
        align-self: center;
    }
   
}

/* EX (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

@keyframes c1Left {
    1%   {  
            left: 23%;
            opacity: 0;
         }
    99%{opacity: 0;}
    100%{
            left: 63%;
            opacity: 0.5;
        }
}
@keyframes c2Left {
    1%   {   
            left: 33%;
            opacity: 0.85;   
         }
    100%{
            left: 23%;
            opacity: 0.5;
        }
}
@keyframes c3Left {
    1%   {   
            left: 43%;
            opacity: 1;
             
         }
    100%{
            left: 33%;
            opacity: 0.85;
        }
}
@keyframes c4Left {
    1%   {        
            left: 53%;
            opacity: 0.85;   
         }
    100%{
            left: 43%;
            opacity: 1;
        }
}
@keyframes c5Left {
    1%   {   
            left: 63%;
            opacity: 0;  
         }
    100%{
            left: 53%;
            opacity: 0.85;
        }
}