<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daniel Fernandes</title>

    
    <link rel="stylesheet" href="../../assets/libs/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="aboutStyle.css">
</head>
<body style="overflow-x: hidden;">
    <div class="row align-items-center" style="background-color: whitesmoke">
            <div class="col text-right">
                <a class="menu" href="../../index.html"> &larr; Home</a>
            </div>
            <div class="col text-center">
                <p class="menu">About</p>
            </div>
            <div class="col text-left">
                <a class="menu" href="../projects/projects.html">Projects &rarr;</a>
            </div>
        </div>
    <div id="about" class="container text-center" style="display: block;">
        <img class="img-fluid  " style="width: 300px; height: 350px; margin-top: 40px;" src="../../assets/images/eu.jpg">
    
        <h4 class="textStyle" style="margin-top:60px; " class="text-center">
            Daniel Fernandes Gonçalves de Oliveira
        </h4>
    
        <h3 class="textStyle" style="margin-top:60px; " class=" text-center">Publication</h3>
    
        <h5 class="textStyle" style="margin-top:30px; text-decoration: underline; color: white; " class=" text-center"><a href="https://github.com/Carnaux/WebPlatformForRobotics/blob/master/web_platform.pdf">
            OLIVEIRA, D. F. G. ; DANTAS, R. R. . Development of a platform for
            Digital Twin web-based robotic arm analysis. In: EPOCA 2018 - XI Escola
            Potiguar de Computação e suas Aplicações, 2018, Angicos. Anais da Escola
            Potiguar de Computação e suas Aplicações, 2018.</a>
        </h5>
    </div>


    <script src="../../assets/libs/bootstrap/jquery.js"></script>
    <script src="../../assets/libs/bootstrap/popper.js"></script>
    <script src="../../assets/libs/bootstrap/bootstrap.js"></script>
</body>
</html>
