<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daniel Fernandes</title>

    <link rel="stylesheet" href="../../assets/libs/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>
    <link rel="stylesheet" href="projectsStyle.css">
</head>
<body>

    <div class="container-fluid">
        <div class="row align-items-center" style="background-color: whitesmoke">
            <div class="col text-right">
                <a class="menu" href="../../index.html"> &larr; Home</a>
            </div>
            <div class="col text-center">
                <p class="menu">Projects</p>
            </div>
            <div class="col text-left">
                <a class="menu" href="../about/about.html">About &rarr;</a>
            </div>
        </div>

        <div class="row" style="margin-top: 30px; ">
            <div class="col text-center" >
                <div class="card" style="width: 18rem; margin-left:50px; ">
                    <img class="card-img-top" src="../../assets/images/imgEditor.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ArCad</h5>
                        <p class="card-text">Visualize CAD Projects for Augmented Reality presentations.</p>
                        <a href="https://carnaux.github.io/WEB-AR-CAD-VIEWER/" class="btn" style="background-color: lightgreen">More About</a>
                    </div>
                </div>
            </div>

            <div class="col text-center" >
                    <div class="card" style="width: 18rem; margin-left:50px; ">
                        <img class="card-img-top" src="../../assets/images/peoplesim.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">People Sim</h5>
                            <p class="card-text">Dynamically simulate the people flow through buildings.</p>
                            <a href="https://github.com/Carnaux/People-Flow-Simulation" class="btn" style="background-color: lightgreen">More About</a>
                        </div>
                    </div>
                </div>

            <div class="col text-center">
                <div class="card" style="width: 18rem;  margin-left:50px; ">
                    <img class="card-img-top" src="../../assets/images/aero.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Web Aerodynamics</h5>
                        <p class="card-text">Aerodynamics in your browser.</p>
                        <a href="https://carnaux.github.io/Web-Aerodynamics/" class="btn" style="background-color: lightgreen">More About</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- SECOND ROW ___________________________________ -->
        <div class="row" style="margin-top: 30px; ">
                <div class="col text-center" >
                    <div class="card" style="width: 18rem; margin-left:50px; ">
                        <img class="card-img-top" src="../../assets/images/robotics.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Web Platform For Robotics</h5>
                            <p class="card-text">A prototype of a web based plataform for analysis of robot arms. Project of my published paper.</p>
                            <a href="https://github.com/Carnaux/WebPlatformForRobotics" class="btn" style="background-color: lightgreen">More About</a>
                        </div>
                    </div>
                </div>
    
                <div class="col text-center" >
                        <div class="card" style="width: 18rem; margin-left:50px; ">
                            <img class="card-img-top" src="../../assets/images/virtusurg.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">VirtuSurg</h5>
                                <p class="card-text">Laparoscopic surgery simulator using Three.js and the LeapMotion.</p>
                                <a href="https://github.com/Carnaux/VirtuSurg-Three.js" class="btn" style="background-color: lightgreen">More About</a>
                            </div>
                        </div>
                    </div>
    
                <div class="col text-center">
                    <div class="card" style="width: 18rem;  margin-left:50px; ">
                        <img class="card-img-top" src="../../assets/images/hafffe.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Raffe's Hackathon</h5>
                            <p class="card-text">A complete industry 4.0 system made for the brewery Raffe Hackathon.</p>
                            <a href="https://carnaux.github.io/Hackathon-Raffe/" class="btn" style="background-color: lightgreen">More About</a>
                        </div>
                    </div>
                </div>
            </div>



    </div>

        
    

    <script src="../../assets/libs/bootstrap/jquery.js"></script>
    <script src="../../assets/libs/bootstrap/popper.js"></script>
    <script src="../../assets/libs/bootstrap/bootstrap.js"></script>
</body>
</html>